#installment-merchant-form label.checkbox-inline {
    margin-left: 20px;
}
#body-form-installment {
    padding: 50px 0px;
}
.button-form {
    margin-top: 36px;
}
.button-form button {
    margin-right: 10px;
}